<div class="container mt-3 col-md-8">
    <h3 *ngIf="!updateSuccess">User Profile</h3>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    <div *ngIf="updateSuccess">
      <div class="alert alert-success mt-3 mb-0">
          Profile Updated. Please <button class="btn btn-primary ml-2" (click)="onLogout()">Login again</button>
      </div>
    </div>
    
    <form
      class="mt-4"
      [formGroup]="profileForm"
      novalidate
      (ngSubmit)="onSubmit()"
      *ngIf="!updateSuccess"
    >
      <div class="form-group form-group-sm">
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.firstName?.invalid &&
            (f.firstName?.dirty || f.firstName?.touched || submitted)
              ? 'is-invalid'
              : f.firstName?.valid
              ? ''
              : ''
          "
          id="firstName"
          placeholder="First Name"
          name="firstName"
          formControlName="firstName"
          minlength="3"
          required
        />
        <div *ngIf="f.firstName?.errors?.minlength" class="invalid-feedback">
          First name should contain min 3 letters
        </div>
        <div *ngIf="f.firstName?.errors?.required" class="invalid-feedback">
          Please Enter your First name.
        </div>
        <!-- <div class="valid-feedback">First name looks good.</div> -->
      </div>
  
      <div class="form-group form-group-sm">
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.lastName?.invalid &&
            (f.lastName?.dirty || f.lastName?.touched || submitted)
              ? 'is-invalid'
              : f.lastName?.valid
              ? ''
              : ''
          "
          id="lastName"
          placeholder="Last Name"
          name="lastName"
          formControlName="lastName"
          minlength="3"
          required
        />
        <div *ngIf="f.lastName?.errors?.minlength" class="invalid-feedback">
          Last name should contain min 3 letters
        </div>
        <div *ngIf="f.lastName?.errors?.required" class="invalid-feedback">
          Please Enter your Last name.
        </div>
        <!-- <div class="valid-feedback">Last name looks good.</div> -->
      </div>
  
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          [ngClass]="
            f.email?.invalid && (f.email?.dirty || f.email?.touched || submitted)
              ? 'is-invalid'
              : f.email?.valid
              ? ''
              : ''
          "
          id="exampleInputEmail1"
          placeholder="Email"
          name="email"
          formControlName="email"
          required
          email
        />
        <div *ngIf="f.email?.errors?.email" class="invalid-feedback">
          Email format is not valid eg: user@xx.cxx
        </div>
        <div *ngIf="f.email?.errors?.required" class="invalid-feedback">
          Please Enter your email id.
        </div>
        <!-- <div class="valid-feedback">Email looks good.</div> -->
      </div>
  
      <div class="form-group form-group-sm">
        <input
          type="date"
          class="form-control"
          [ngClass]="
            f.dob?.invalid && (f.dob?.dirty || f.dob?.touched || submitted)
              ? 'is-invalid'
              : f.dob?.valid
              ? ''
              : ''
          "
          id="dob"
          placeholder="Date of birth"
          name="dob"
          formControlName="dob"
          required
        />
        <div *ngIf="f.dob?.errors?.required" class="invalid-feedback">
          Please Enter your Date Of Birth.
        </div>
        <div *ngIf="f.dob?.errors?.invalidDate" class="invalid-feedback">
          Date Of Birth is Invalid, Must be of format (dd/MM/yyyy).
        </div>
        <div *ngIf="f.dob?.errors?.futureDate" class="invalid-feedback">
          Date Of Birth Cannot be Future.
        </div>
        <div *ngIf="f.dob?.errors?.minor" class="invalid-feedback">
          You have to be Minimum 15 Years or Older
        </div>
        <!-- <div class="valid-feedback">Date Of Birth looks good.</div> -->
      </div>
  
      <div class="form-group form-group-sm">
        <select
          class="form-control"
          [ngClass]="
            f.gender?.invalid &&
            (f.gender?.dirty || f.gender?.touched || submitted)
              ? 'is-invalid'
              : f.gender?.valid
              ? ''
              : ''
          "
          id="gender"
          placeholder="Gender"
          name="gender"
          formControlName="gender"
          required
        >
          <option value="" selected disabled>Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
        <div *ngIf="f.gender?.errors?.required" class="invalid-feedback">
          Please Select your Gender.
        </div>
        <!-- <div class="valid-feedback">Gender looks good.</div> -->
      </div>

      <div class="form-group form-group-sm">
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.phone?.invalid &&
            (f.phone?.dirty || f.phone?.touched || submitted)
              ? 'is-invalid'
              : f.phone?.valid
              ? ''
              : ''
          "
          id="phone"
          placeholder="Phone Number"
          name="phone"
          formControlName="phone"
          minlength="10"
        />
        <div *ngIf="f.phone?.errors?.minlength" class="invalid-feedback">
          Phone Number should contain min 10 digits
        </div>
        <!-- <div class="valid-feedback">Phone Number looks good.</div> -->
      </div>

      <div class="form-group form-group-sm">
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.city?.invalid &&
            (f.city?.dirty || f.city?.touched || submitted)
              ? 'is-invalid'
              : f.city?.valid
              ? ''
              : ''
          "
          id="city"
          placeholder="City"
          name="city"
          formControlName="city"
          minlength="2"
        />
        <div *ngIf="f.city?.errors?.minlength" class="invalid-feedback">
          City should contain min 2 letters
        </div>
        <!-- <div class="valid-feedback">City looks good.</div> -->
      </div>

      <div class="form-group form-group-sm">
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.state?.invalid &&
            (f.state?.dirty || f.state?.touched || submitted)
              ? 'is-invalid'
              : f.state?.valid
              ? ''
              : ''
          "
          id="state"
          placeholder="State"
          name="state"
          formControlName="state"
          minlength="2"
        />
        <div *ngIf="f.state?.errors?.minlength" class="invalid-feedback">
          State should contain min 2 letters
        </div>
        <!-- <div class="valid-feedback">State looks good.</div> -->
      </div>

      <div class="form-group form-group-sm">
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.country?.invalid &&
            (f.country?.dirty || f.country?.touched || submitted)
              ? 'is-invalid'
              : f.country?.valid
              ? ''
              : ''
          "
          id="country"
          placeholder="Country"
          name="country"
          formControlName="country"
          minlength="2"
        />
        <div *ngIf="f.country?.errors?.minlength" class="invalid-feedback">
          Country should contain min 2 letters
        </div>
        <!-- <div class="valid-feedback">Country looks good.</div> -->
      </div>

      <div class="form-group form-group-sm">
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.pincode?.invalid &&
            (f.pincode?.dirty || f.pincode?.touched || submitted)
              ? 'is-invalid'
              : f.pincode?.valid
              ? ''
              : ''
          "
          id="pincode"
          placeholder="Pincode"
          name="pincode"
          formControlName="pincode"
          minlength="6"
        />
        <div *ngIf="f.pincode?.errors?.minlength" class="invalid-feedback">
          Pincode should contain min 6 digits
        </div>
        <!-- <div class="valid-feedback">Pincode looks good.</div> -->
      </div>

      <div class="form-group form-group-sm">
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.profession?.invalid &&
            (f.profession?.dirty || f.profession?.touched || submitted)
              ? 'is-invalid'
              : f.profession?.valid
              ? ''
              : ''
          "
          id="profession"
          placeholder="Profession"
          name="profession"
          formControlName="profession"
          minlength="2"
        />
        <div *ngIf="f.profession?.errors?.minlength" class="invalid-feedback">
          Profession should contain min 2 letters
        </div>
        <!-- <div class="valid-feedback">Profession looks good.</div> -->
      </div>

  
  
      <button type="submit" [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Save
      </button>
      <button *ngIf="!loading" class="btn btn-primary ml-2" (click)="cancel()">
          Cancel
      </button>
      
    </form>
  </div>
  