<div *ngIf="!editPostSuccess" class="card mb-3">
  <div class="card-body">
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ error }}
    </div>
    <div *ngIf="addPostSuccess">
      <div *ngIf="operation == 'add'" class="alert alert-success mt-3 mb-0">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
        New Post Added
      </div>
      <div *ngIf="operation == 'edit'" class="alert alert-success mt-3 mb-0">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
        Post Edited
      </div>
    </div>
    <form
      class="mt-4"
      [formGroup]="addPostForm"
      novalidate
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group form-group-sm">
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.post?.invalid && submitted && !addPostSuccess
              ? 'is-invalid'
              : f.post?.valid
              ? 'is-valid'
              : ''
          "
          id="post"
          placeholder="What's on your mind?"
          name="post"
          formControlName="post"
          minlength="2"
          required
        />
        <div *ngIf="f.post?.errors?.required" class="invalid-feedback">
          Can't post an empty mind.
        </div>
        <div *ngIf="selectedFile" class="img-preview-container">
          <br />
          <div
            *ngIf="selectedFile.status === 'ok'"
            class="img-preview"
            [ngStyle]="{ 'background-image': 'url(' + selectedFile.src + ')' }"
          ></div>

          <div *ngIf="selectedFile.pending">
            <span class="spinner-border spinner-border-sm mr-1"></span>
          </div>
          <div
            *ngIf="selectedFile.status === 'fail'"
            class="alert alert-danger"
          >
            Image Upload Failed!
          </div>
        </div>

        <br />

        <label for="files" class="btn btn-secondary">Select Image</label>
        <input
          #imageInput
          class="btn btn-secondary"
          id="files"
          type="file"
          style="visibility: hidden"
          accept="image/*"
          (change)="processFile(imageInput)"
        />
      </div>
      <button
        *ngIf="operation == 'add'"
        type="submit"
        [disabled]="loading && !addPostSuccess"
        class="btn btn-primary"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Add New Post
      </button>
      <button
        *ngIf="operation == 'edit'"
        type="submit"
        [disabled]="loading && !addPostSuccess"
        class="btn btn-primary float-right"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Update Post
      </button>
    </form>
  </div>
</div>
