<div *ngIf="!editPostSuccess" class="card mb-3">
  <div class="card-body">
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ error }}</div>
    <div *ngIf="addPostSuccess">
      <div  *ngIf="operation=='add'" class="alert alert-success mt-3 mb-0">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        New Post Added
      </div>
      <div  *ngIf="operation=='edit'" class="alert alert-success mt-3 mb-0">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Post Edited
      </div>
    </div>
    <form
      class="mt-4"
      [formGroup]="addPostForm"
      novalidate
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group form-group-sm">
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.post?.invalid && (submitted && !addPostSuccess)
              ? 'is-invalid'
              : f.post?.valid
              ? 'is-valid'
              : ''
          "
          id="post"
          placeholder="What's on your mind?"
          name="post"
          formControlName="post"
          minlength="2"
          required
        />
        <div *ngIf="f.post?.errors?.required" class="invalid-feedback">
          Can't post an empty mind.
        </div>
      </div>
      <button *ngIf="operation=='add'"
        type="submit"
        [disabled]="loading && !addPostSuccess"
        class="btn btn-primary"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Add New Post
      </button>
      <button *ngIf="operation=='edit'"
        type="submit"
        [disabled]="loading && !addPostSuccess"
        class="btn btn-primary float-right"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Update Post
      </button>
    </form>
  </div>
</div>
