ul{
    list-style: none;
    padding-left: 0px;
}

/* @media only screen and (max-width: 695px) {
    ul {
        padding-left: 10px;
    }
    
} */

.spin{
    margin-top: 20px;
    text-align: center;
}