@media only screen and (max-width: 695px) {
    img{
        max-width: 6rem;
        max-height: 6rem;
        }
}

img{
object-fit: contain;
}

.spin{
    margin-top: 20px;
    text-align: center;
}