<div class="container mt-3 col-md-6">
    <h3>Reset your password..</h3>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

    <form
    class="mt-4"
    [formGroup]="resetPasswordForm"
    novalidate
    (ngSubmit)="onSubmit()"
  >

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      [ngClass]="
        f.password?.invalid &&
        (f.password?.dirty || f.password?.touched || submitted)
          ? 'is-invalid'
          : f.password?.valid
          ? 'is-valid'
          : ''
      "
      id="exampleInputPassword1"
      placeholder="Password"
      name="password"
      formControlName="password"
      required
      minlength="6"
    />
    <div *ngIf="f.password?.errors?.minlength" class="invalid-feedback">
      Password should contain minimum six characters
    </div>
    <div *ngIf="f.password?.errors?.passwordWeak" class="invalid-feedback">
      Weak Password, Must include minimum 1 Uppercase, 1 Lowercase, 1 digit, &
      1 Special Character from [$@!%*?&]
    </div>
    <div *ngIf="f.password?.errors?.required" class="invalid-feedback">
      Please Enter a Password.
    </div>
    <div class="valid-feedback">Password looks good.</div>
  </div>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      [ngClass]="
        f.confirmPassword?.invalid &&
        (f.confirmPassword?.dirty || f.confirmPassword?.touched || submitted)
          ? 'is-invalid'
          : f.confirmPassword?.valid
          ? 'is-valid'
          : ''
      "
      id="exampleInputPassword2"
      placeholder="Confirm Password"
      name="confirmPassword"
      formControlName="confirmPassword"
    />
    <div
      *ngIf="f.confirmPassword?.errors?.minlength"
      class="invalid-feedback"
    >
      Password should contain minimum six characters
    </div>
    <div *ngIf="f.confirmPassword?.errors?.required" class="invalid-feedback">
      Please Confirm the Password.
    </div>
    <div
      *ngIf="f.confirmPassword?.errors?.passwordMismatch"
      class="invalid-feedback"
    >
      Password do not Match.
    </div>
    <div class="valid-feedback">Password Confirmed</div>
  </div>

  <button type="submit" [disabled]="loading" class="btn btn-primary">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Reset Password
  </button>
  
</form>
</div>
