<div class="card mb-3">
  <div class="card-body">
    <h6 class="card-title">{{ post.userName }}</h6>
    <p class="card-text" *ngIf="!editMode">
      <small class="text-muted">{{ post.createdDate | date }}</small>
    </p>
    <p class="card-text" *ngIf="!editMode">{{ post.post }}</p>
    <div *ngIf="!postImageLoaded">
      <span class="spinner-border spinner-border m-5"></span>
    </div>
    <div style="width: 25rem">
      <img
        *ngIf="postImageLoaded && !postHasNoImage"
        class="card-img-top"
        [src]="postImage"
        alt="Card image cap"
        max-width="23rem"
        max-height="23rem"
      />
    </div>

    <div *ngIf="postOfCurrentUser">
      <app-add-post *ngIf="editMode" [operation]="operation" [post]="post"></app-add-post>
      <button
      *ngIf="!editMode"
        type="submit"
        class="btn btn-primary"
        (click)="onEdit()"
      >
        Edit
      </button>
    <button
    *ngIf="editMode"
      type="submit"
      class="btn btn-primary"
      (click)="onCancel()"
    >
      Cancel
    </button>
      <button
      *ngIf="!editMode"
        type="submit"
        class="btn btn-primary"
      >
        Delete
      </button>
    </div>
  </div>
</div>
