<div *ngIf="!deleteSuccess" class="card mb-3">
  <div class="card-body">
    <h6 class="card-title">{{ post.userName }}</h6>
    <p class="card-text">
      <small class="text-muted">{{ post.createdDate | date }}</small>
    </p>
    <p class="card-text">{{ post.post }}</p>
    <div *ngIf="!postImageLoaded">
      <span class="spinner-border spinner-border m-5"></span>
    </div>
    <div style="width: 25rem">
      <img
        *ngIf="postImageLoaded && !postHasNoImage"
        class="card-img-top"
        [src]="postImage"
        alt="Card image cap"
        max-width="23rem"
        max-height="23rem"
      />
    </div>

    <div *ngIf="postOfCurrentUser" class="mt-2">
      <app-add-post
        *ngIf="editMode"
        [operation]="operation"
        [post]="post"
        (cancelEdit)="onCancelEdit($event)"
      ></app-add-post>
      
      
      <!-- <button
        *ngIf="editMode"
        type="submit"
        class="btn btn-primary float-right"
        (click)="onCancel()"
      >
        Cancel
      </button> -->

      <!-- <button *ngIf="!editMode" type="submit" class="btn btn-primary mr-2 float-right" (click)="onDelete()">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Delete
      </button> -->
      <button type="button" *ngIf="!editMode" class="btn btn-primary mr-2 float-right" data-toggle="modal" data-target="#exampleModal">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Delete
      </button>

      <button
        *ngIf="!editMode && !deleteMode"
        type="submit"
        class="btn btn-primary mr-2 float-right"
        (click)="onEdit()"
      >
        Edit
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button *ngIf="!deleteMode" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are You Sure You Want to Delete the Post?
      </div>
      <div class="modal-footer">
        <button *ngIf="!deleteMode" type="button" #closeBtn class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete()">
          <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>Delete</button>
      </div>
    </div>
  </div>
</div>
