/* You can add global styles to this file, and also import other style files */
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    padding-top: 65px; 
  }

a{
  text-decoration: none !important;
}
