<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 profile">
      <div class="card" style="width: 18rem">
        <div class="profile-pic-cont">
        <div *ngIf=!imageLoaded>
          <span class="spinner-border spinner-border m-5"></span>
        </div>
        <img
          *ngIf=imageLoaded
          class="card-img-top profile-pic"
          [src]='photoId'
          alt="Card image cap"
        />
      </div>
        <div class="card-body">
          <h5 class="card-title">
            {{ currentUser.firstName }} {{ currentUser.lastName }}
          </h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
        <ul class="list-group list-group-flush">
          <li *ngIf=!connectionsLoaded class="list-group-item">
            <span class="spinner-border spinner-border-sm"></span>
          </li>
          <li *ngIf=connectionsLoaded class="list-group-item">{{connections}} Connections</li>
          <li *ngIf=!postLoaded class="list-group-item">
            <span class="spinner-border spinner-border-sm"></span>
          </li>
          <li *ngIf=postLoaded class="list-group-item">{{posts}} Posts</li>
        </ul>
      </div>
    </div>

    <div class="col-md-9 content"><router-outlet></router-outlet></div>

  </div>
</div>
